## Problem 1: Print the first and last five rows of the resulting cars ##
### Then save it into Surname_Pandas-P1.py ##

In [84]:
#Import the Pandas library
import pandas as pd

## I have no idea where to place the spreadhsheet file so I run a code that shows where the directory path is ##

In [86]:
#os is a library that provides functions that interacts with the operating system
import os

In [87]:
current_directory = os.getcwd()

#display where the current directory is
print(current_directory)

C:\Users\PC\Documents\Python Codes\Modules\Save_files

In [88]:
# I change the working directory to make things well-ordered
os.chdir('C:\\Users\\PC\\Documents\\Python Codes\\Modules\\Save_files')

print(os.getcwd())

C:\Users\PC\Documents\Python Codes\Modules\Save_files

### a. Load the corresponding .csv file into a data frame named cars using pandas ###

In [90]:
#Load the spreadsheet file
cars = pd.read_csv('cars.csv')

### b. Display the first five and last five rows of the resulting car ###

In [116]:
#Display the first five rows
cars.head()

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [93]:
#Display the last five rows
print(cars.tail())

             Model   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  \
27    Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5
28  Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5
29    Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5
30   Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5
31      Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.6   1   1     4

    carb
27     2
28     4
29     6
30     8
31     2

## Problem 2: Extract the following information using subsetting, slicing and indexing operations. ##
### Then save it into Surname_Pandas-P2.py ##

### a. Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7...) of cars. ###

In [96]:
#Use iloc to find and print out specific rows/columns and utilize the slicing function
print(cars.iloc[:5, ::2])

               Model  cyl   hp     wt  vs  gear
0          Mazda RX4    6  110  2.620   0     4
1      Mazda RX4 Wag    6  110  2.875   0     4
2         Datsun 710    4   93  2.320   1     4
3     Hornet 4 Drive    6  110  3.215   1     3
4  Hornet Sportabout    8  175  3.440   0     3

### b. Display the row that contains the ‘Model’ of ‘Mazda RX4’. ###

In [203]:
#Use loc to specific and pick the row that contains 'Mazda RX4' in the 'Model' column
mazda = cars.loc[cars['Model'] == 'Mazda RX4']
mazda

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

### c. How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have? ###

In [226]:
#use loc to output the specific row index and the column name
cars.loc [23,'cyl']

8

### d. Determine how many cylinders and what gear type the car models (Mazda RX4 Wag, Ford Pantera L, Honda Civic) has

In [228]:
cars.loc[[1, 28, 18], ['Model', 'cyl', 'gear']]

             Model  cyl  gear
1    Mazda RX4 Wag    6     4
28  Ford Pantera L    8     5
18     Honda Civic    4     4